.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      line-height: unset;
      margin: 0.5rem 0;
      .section > .desc > h3 > a {
        background-color: transparent;
      }

      .section > .desc > h3 {
        font-size: small;
      }

      .section > .meta {
        margin: 0;
        opacity: 0.6;
        font-size: x-small;
      }
    }
  }
}


.random-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.random-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      line-height: unset;
      margin: 0;
      h3 > a {
        background-color: transparent;
      }

      h3 {
        font-size: small;
        margin: 0;
      }
    }
  }
}