@use "./base.scss";

// put your custom CSS here!

@font-face {
    font-family: myfont;
    src: local('myfont'),
        url('myfont.woff2') format('woff2'),
        url('myfont.woff') format('woff'),
        url('myfont.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "FZFW ZhuZi A Old Mincho";
    src:
        local("FZFW ZhuZi A Old Mincho"),
        url('static/FZFWZhuZiAOldMinchoR.woff2') format('woff2');
    font-display: swap;
}

// Only article body use custom fonts.
article {
    font-family: "KingHwa_OldSong", var(--bodyFont);
    font-weight: 400;
    font-display: swap;
    h1, h2, h3, h4, h5, h6, thead {
        font-family: "KingHwa_OldSong", var(--headerFont);
        font-display: swap;
    }
}

// Article title use header font.
.article-title {
    font-family: var(--headerFont);
}

// Explorer use header font.
div.explorer {
    font-family: var(--headerFont);
    > button.title-button.explorer-toggle.desktop-explorer {
        > h2 {
            font-family: var(--headerFont);
        }
    }
}
